*{
  font-family: Helvetica,Arial,  sans-serif;
}

body{
  padding: 60px;
}

input{
  font-size: 1.2rem;
  color: gray;
  width: 100%;
}

.card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.card{
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img{
  width: 100%;
}
.card p{
  font-size: .8rem;
}